# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
DEV/
TEST/
PARTIAL_INDEXES/
backups/
final_index
doc_id_url_map.json
doc_len_file.json
secondary_index.json
